@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background: #2c3e50;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 70px;
  position: relative;
  overflow: hidden;
  border-radius: 0px 27px 0px 27px;
}

nav::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: #2c3e50;
  border-radius: 50%;
  transform: rotate(45deg);
  transform-origin: bottom left;
  z-index: -1;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  height: 40px;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  position: relative;
  padding: 12px 0;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #ffb20f;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav ul li a:hover {
  color: #ffb20f;
  transform: translateY(-3px);
}
nav ul li a.active {
  color: #ffb20f;
  transform: translateY(-3px);
}
