<nav @fadeIn>
  <div class="logo">
    <img src="assets/logo.png" alt="Logo sajta" />
  </div>
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">Početna</a>
    </li>
    <li>
      <a routerLink="/dodaj-recenziju" routerLinkActive="active"
        >Dodaj Recenziju</a
      >
    </li>
    <li>
      <a routerLink="/automobili" routerLinkActive="active"
        >Recenzije Automobila</a
      >
    </li>
    <li>
      <a routerLink="/o-nama" routerLinkActive="active">O nama</a>
    </li>
  </ul>
</nav>
