<div class="hero-section">
  <h1>O nama</h1>
  <p>Dobrodošli na naš sajt, vašu bazu recenzija polovnih automobila!</p>
  <button routerLink="/home" routerLinkActive="active">Pocetna strana</button>
</div>

<div class="about-us-container">
  <div class="about-us-content">
    <section class="mission">
      <h2>Naša misija</h2>
      <p>
        Naša misija je pružiti pouzdane recenzije polovnih automobila kako bismo
        vam pomogli da donesete informisane odluke prilikom kupovine automobila.
      </p>
      <img src="/assets/poz.avif" alt="Naša misija" class="content-image" />
    </section>

    <section class="team">
      <h2>Naš tim</h2>
      <div class="team-member">
        <img src="/assets/clan.webp" alt="Član tima" class="team-image" />
        <div class="team-info">
          <h3>Nemanja Antic</h3>
          <p>
            Stručnjak za Polovna Vozila Nemanja je pasionirani ljubitelj
            automobila sa više od 10 godina iskustva u auto-industriji.
            Specijalizovao se za procenu polovnih vozila i pruža iskrene i
            detaljne recenzije koje pomažu korisnicima da donesu informisane
            odluke pri kupovini. Njegov doprinos našem sajtu uključuje
            neprocenjive uvide u stanje i vrednost polovnih automobila, kao i
            korisne savete za potencijalne kupce.
          </p>
        </div>
      </div>
      <!-- Ponovite blok team-member za svakog člana tima -->
    </section>

    <section class="contact">
      <h2>Kontaktirajte nas</h2>
      <p>
        Ako imate bilo kakva pitanja ili sugestije, slobodno nas kontaktirajte
        putem <a routerLink="/home">infovas-sajt.com</a>.
      </p>
      <img
        src="/assets/contact.jpg"
        alt="Kontaktirajte nas"
        class="content-image"
      />
    </section>
  </div>
</div>
