<div @bounce class="hero">
  <div class="hero-content">
    <p class="hero-title">Pronađite prave recenzije za vaš</p>
    <p class="hero-subtitle">sledeći polovnjak!</p>
    <div class="hero-description">
      <p>
        Na našem sajtu korisnici mogu pronaći recenzije polovnih automobila
        napisane od strane ljudi koji su lično pregledali vozila sa namerom da
        ih kupe.
      </p>
    </div>
    <div class="hero-buttons">
      <button class="btn-primary" (click)="prikaziRecenzije('recenzije')">
        Pogledaj recenzije
      </button>
      <button class="btn-secondary" (click)="prikaziAutomobile('automobili')">
        Automobili
      </button>
    </div>
  </div>
</div>
